* {
  font-family: 'mukta', Helvetica, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#452d01, #de9307, #ffa600);
  background-attachment: fixed;
}

header {
  background-color: #232b2b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

#logo {
  width: 40px; 
  height: 40px; 
  margin-right: 10px;
  border: 2px solid aliceblue;
  border-radius: 5px; 
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

#site-title {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  text-decoration: underline;
}

/* Add these styles for the footer */
footer {
  background-color: #232b2b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  align-self: flex-end;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  margin-left: 15%;
}

#footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15%;
}

#footer-content p {
  margin: 0;
  font-size: 14px;
}

#footer-content a {
  text-decoration: none;
  color: #fff;
}

#footer-content a:hover {
  text-decoration: underline;
}

.center {
  background-color: white;
  border: 5px solid;
  width: 50%;
  padding-top:3%;
  margin-top:5%;
}

#privacyPolicy {
  padding-left: 50px; 
  padding-right: 50px;
  margin-bottom: 50px;
}

.imageAndBlurbContainer{
  display:flex; 
  justify-content: center; 
  align-items: center;
  background-color: white;
  border: 5px solid black;
  margin-top: 5%;
  width: 80%;
}

.imageAndBlurb {
  display:flex;
  flex-direction: column;
  margin:5%;
  width: 20%;
  margin-bottom: 10px;
}

.vl {
  margin-top:30px;
  border-left: 3px solid black;
  height: 20rem;

}

.moreInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border: 5px solid black;
  border-top: 0px;
  width: 80%; 
}

.dropdown{
  display:flex;
  justify-content: center;
  height: 35px;
  padding: 10px;
}

#companyDropdown{
  border: 1px solid black;
  border-radius: 4px;
}

#infoForm{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#infoForm .inputField {
  border: 1px solid black;
  border-radius: 4px;
  flex: 0 0 45%;
  margin: 1%;
  text-align: center;
}

#infoForm > :last-child {
  flex-basis: 100%;
  margin-top: 2%;
  margin-left: 45%;
  margin-right: 45%;
}

ul{
  list-style-type: none;
  padding: 0;
}
li a {
  text-decoration: none;
  color: #3366CC;
}

li a:hover {
  text-decoration: none;
  color: black;
}

#moreInfo{
  display:flex;
  flex-direction: column;
}

#TJMore, #DylanMore, #GriffinMore{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left:1%;
  padding-right:1%;
}

#aboutMe {
  width: 75%;
}

.aboutUs {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}